<mat-nav-list>
        <a *ngIf="showDelete" mat-list-item (click)="openMenu($event,'Deletar')">
          <mat-icon>delete_outline</mat-icon>
          <span mat-line>Deletar</span>
        </a>
        <a *ngIf="showView" mat-list-item (click)="openMenu($event,'Ver')">
          <mat-icon>tab</mat-icon>
          <span mat-line>Visualizar</span>
        </a>
        <a *ngIf="showEdit" mat-list-item (click)="openMenu($event,'Editar')">
          <mat-icon>edit</mat-icon>
          <span mat-line>Editar</span>
        </a>
        <a *ngIf="showScFerias" mat-list-item (click)="openMenu($event,'Ferias')">
          <mat-icon>flight_takeoff</mat-icon>
          <span mat-line>Solicitar Férias</span>
        </a>
</mat-nav-list>