<div class="panel panel-default" >
  <div class="panel-body">
   <h1 class="display-4">
     Solicitações de Ferias
    </h1>

  </div>
</div>


<div class="panel panel-default">
<div class="panel-body">
  <div class="row">
      <div class="col-md-6">
          <mat-form-field class="full-width">
            <input matInput placeholder="Buscar" [(ngModel)]="nome" (keyup.enter)="loadPages()">
          </mat-form-field>
      </div>
      <div class="col-md-6">
          <button mat-raised-button color="accent" class="full-width" aria-label="Buscar" (click)="loadPages()">
              Buscar <mat-icon>search</mat-icon>
          </button>
      </div>
  </div>
</div>
<div class="panel-body">
    <div class="mat-elevation-z8">

        <table mat-table [dataSource]="dataSource">
          <ng-container  matColumnDef="funcionario">
            <th mat-header-cell *matHeaderCellDef> Funcionario. </th>
            <td mat-cell *matCellDef="let element"> {{element.funcionario.nome}} </td>
          </ng-container>
          
          <ng-container matColumnDef="equipe">
              <th mat-header-cell *matHeaderCellDef  > Equipe  </th>
              <td mat-cell *matCellDef="let element" > {{element.funcionario.equipe.nome}} </td>
          </ng-container>
      
          <ng-container matColumnDef="dataIni">
              <th mat-header-cell *matHeaderCellDef > Data Ini </th>
              <td mat-cell *matCellDef="let element" > {{element.dataInicial}} </td>
          </ng-container>

          <ng-container matColumnDef="dataFim">
            <th mat-header-cell *matHeaderCellDef > Data Final </th>
            <td mat-cell *matCellDef="let element" > {{element.dataFinal}} </td>
          </ng-container>

          <!-- Btn  -->
          <ng-container matColumnDef="detalhes">
              <th mat-header-cell *matHeaderCellDef class="column-right" > Acao </th>
              <td mat-cell *matCellDef="let element" class="column-right" > 
                <button mat-icon-button  aria-label="Menu" (click)="openMenu(element)">
                    <mat-icon>more_vert</mat-icon>
                </button>
              </td>
          </ng-container>
         
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>
      
        <!-- <mat-paginator showFirstLastButtons></mat-paginator> -->
        <mat-paginator [length]="dataSource.totalElements" 
        [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
      
</div>  
  
</div>